*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */

    /* Primary */
    --Reaction-color: hsl(0, 100%, 67%);
    --Reaction-bg: hsla(0, 100%, 67%, 0.05);
    --Reaction-hover: hsla(0, 100%, 67%, 0.1);
    --Memory-color: hsl(39, 100%, 56%);
    --Memory-bg: hsla(39, 100%, 56%,0.05);
    --Memory-hover: hsla(39, 100%, 56%,0.1);
    --Verbal-color: hsl(166, 100%, 37%);
    --Verbal-bg: hsla(166, 100%, 37%,0.05);
    --Verbal-hover: hsla(166, 100%, 37%,0.1);
    --Visual-color: hsl(234, 85%, 45%);
    --Visual-bg: hsla(234, 85%, 45%,0.05);
    --Visual-hover: hsla(234, 85%, 45%,0.1);

    /* Gradients */
    --Light-slate-blue : hsl(252, 100%, 67%);
    --Light-royal-blue : hsl(241, 81%, 54%);
    --result-card-gradient: linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
    --result-card-circle: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue : hsla(241, 72%, 46%, 0);

    /* Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Dark-gray-blue-l: hsla(224, 30%, 27%,0.5);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./static/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
body{
    font-family: 'Hanken Grotesk',sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background-color: var(--White);
    font-weight: 500; 
}

.result-component{
  width:100%;
  background-color: var(--White);
}
.result-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:1.5rem;
    width: 100%;
    color:var(--Light-lavender);
    background: var(--result-card-gradient);
    text-align: center;
    border-radius: 0 0 2rem 2rem;
    padding:2rem 3rem;

}
.result-card__title{
  font-size: 1.3rem;
}

.result-card__circle{
  border-radius: 50%;
  width: 11.25rem;
  height:11.25rem;
  background: var(--result-card-circle);
  color:var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-card__score-big{
  font-size:4rem;
  font-weight: 800;
  line-height: 1;
}

.result-card__score-small{
  opacity: 0.5;
}

.score-rating{
  display: flex;
  flex-direction: column;
}

.score-rating-title{
  font-size: 1.5rem;
  color: var(--White);
}

.score-rating-desc{
  line-height: 1.5;
  font-weight: 500;
  opacity:0.8;
}

.summary-section{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding: 2rem;
}

.summary-section-title{
  font-size:1.3rem;
  color:var(--Dark-gray-blue);
}

.summary-section__results{
  display: flex;
  gap:1rem;
  flex-direction: column;
}

.summary-section__result{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:1rem;
  border-radius:0.5rem;
}

.reaction{
  background-color: var(--Reaction-bg);
}
.reaction:hover{
  background-color: var(--Reaction-hover);
  cursor: pointer;
}

.result-name{
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-weight: 700;
}
.result-name img {
  transition: transform 0.8s ease;
}
.result-name:hover img {
  transform: rotate(360deg);
}

.result-score{
  font-weight: 700;
  color:var(--Dark-gray-blue-l)
}
.result-score span{
  color: var(--Dark-gray-blue);
}

.reaction .result-name{
  color:var(--Reaction-color);
}

.memory{
  background-color: var(--Memory-bg);
}
.memory:hover{
  background-color: var(--Memory-hover);
  cursor: pointer;
}
.memory .result-name{
  color:var(--Memory-color);
}
.visual{
  background-color: var(--Visual-bg);
}
.visual:hover{
  background-color: var(--Visual-hover);
  cursor: pointer;
}
.visual .result-name{
  color:var(--Visual-color);
}
.verbal{
  background-color: var(--Verbal-bg);
}
.verbal:hover{
  background-color: var(--Verbal-hover);
  cursor: pointer;
}
.verbal .result-name{
  color:var(--Verbal-color);
}
.btn{
  border: none;
  border-radius: 2rem;
  color:var(--White);
  background-color: var(--Dark-gray-blue);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  background: var(--result-card-gradient);
}
.btn:focus-visible {
  outline: 0.1875rem solid var(--Light-slate-blue);
  outline-offset: 0.1875rem;
}


.rainbow-text {
  color: var(--White);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.rainbow-text:hover {
 animation: rainbow 3s ease-in-out infinite;
}


@keyframes rainbow {
  0%   { color: var(--White); }
  25%  { color: var(--Memory-color); }
  50%  { color: var(--Verbal-color); }
  75%  { color: var(--Visual-color); }
  100% { color: var(--Reaction-color); }
}
  @keyframes slideIn {
  0% {
    -webkit-transform: scale(0.7);
    filter: saturate(2);
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: saturate(1);
  }
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; }
@media(min-width:48rem){
  body{
    display: grid;
    place-items: center;
    min-height:100vh;
  }
  .result-component{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 43.75rem;
    border-radius: 2rem;
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.8s;
    transform: scale(1);
    -webkit-animation: slideIn 1s ease;
    animation: slideIn 1.5s ease;
  }
  .result-component:hover {
  filter: saturate(1.5) drop-shadow(1.0625rem 0.9375rem 1.375rem rgba(0, 0, 0, 0.4));
  transition: ease-in-out 0.8s;
  transform: scale(0.97);
  }
 .score-rating-desc{
    padding: 1rem;
  }
  .result-card{
    border-radius: 2rem;
  }
}
